@keyframes name {
  0% {
    transform: translate(-150%);
    opacity: 0;
  }

  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes icons {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes icon {
  0% {
    transform: rotateZ(-45deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes icons-breathe {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes opacity-scale {
  from {
    opacity: 0;
    scale: 1.1;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
